# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Ex03 Jonathan 302345749 Keren 212127898.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
